# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Environment / secrets
.env

# IDE settings
.vscode/
.idea/

# Logs
*.log

# this is for myself
.merge_py.py
.merged_all.txt
*.txt
/logs
/tetris
/setup_wizard.py
/merge_py.py
/nexusarbiter.egg-info
/helper
